<html>
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		
		<link rel="stylesheet" href="/node_modules/vue-material/dist/vue-material.css">
		<script data-main="main" src="/node_modules/requirejs/require.js"></script>
<style>
html,
body,
.app-viewport {
  min-height: 100%;
  overflow: hidden;
  
 }

.app-viewport {
  display: flex;
  flex-flow: column;
}

.md-fab {
  margin: 0;
  position: absolute;
  bottom: -20px;
  left: 16px;
  
  .md-icon {
    color: #fff;
  }
}

.md-title {
  padding-left: 8px;
  color: #fff;
}

.md-list {
  overflow: auto;
}

.md-list-action .md-icon {
  color: rgba(#000, .26);
}

.md-avatar-icon .md-icon {
  color: #fff !important;
}

.md-sidenav .md-list-text-container > :nth-child(2) {
  color: rgba(#fff, .54);
}

.md-account-header {
  .md-list-item:hover .md-button:hover {
    background-color: inherit;
  }

  .md-avatar-list .md-list-item-container:hover {
    background: none !important;
  }
}
/*ajustes*/
.md-toolbar.md-large{min-height: 80px;}
.md-toolbar.md-large .md-toolbar-container:nth-child(2) .md-title:first-child {margin-left: 0px;}
</style>
</head>
<body>

<div class="app-viewport" id="file-list">
  <md-sidenav class="md-left md-fixed" ref="sidebar">
    <md-toolbar class="md-account-header">
      <md-list class="md-transparent">
        <md-list-item class="md-avatar-list">
          <md-avatar class="md-large">
            <img src="imgs/logo.png" alt="People">
          </md-avatar>
  
          <span style="flex: 1"></span>
  
         
        </md-list-item>
  
        <md-list-item>
          <div class="md-list-text-container">
            <span>{{strs.brand}}</span>
            <span>{{strs.brandDesc}}</span>
          </div>
  
          <!-- <md-button class="md-icon-button md-list-action">
            <md-icon>arrow_drop_down</md-icon>
          </md-button> -->
        </md-list-item>
      </md-list>
    </md-toolbar>
  
    <md-list>
      <md-list-item @click="$refs.sidebar.toggle()" class="md-primary">
        <md-icon>settings</md-icon> <span>OPCIONES DE CONTROL</span>
      </md-list-item>
  
      <md-list-item @click="$refs.sidebar.toggle()" v-on:click="startNewFerm">
        <md-icon>add_circle</md-icon> <span>Nueva fermentacion</span>
      </md-list-item>
	  
	  <md-list-item @click="$refs.sidebar.toggle()" v-on:click="getActiveFerms()">
        <md-icon>home</md-icon> <span>Fermentaciones activas</span>
      </md-list-item>
  
      <md-list-item @click="$refs.sidebar.toggle()" v-on:click="getArchivedFerms()">
        <md-icon>restore</md-icon> <span>Fermentaciones archivadas</span>
      </md-list-item>

      <md-list-item @click="$refs.sidebar.toggle()" v-on:click="editProfiles()">
        <md-icon>show_chart</md-icon> <span>Editar perfiles</span>
      </md-list-item>	
	  <md-list-item @click="$refs.sidebar.toggle()" v-on:click="editTanques()">
        <md-icon>stay_current_portrait</md-icon> <span>Configurar tanques</span>
      </md-list-item>
	  
    </md-list>
  </md-sidenav>
  
	<md-whiteframe md-elevation="3">
		<md-toolbar class="md-large">
		  <div class="md-toolbar-container">
			<md-button class="md-icon-button" @click="$refs.sidebar.toggle()">
			  <md-icon>menu</md-icon>
			</md-button>
			 <div class="md-toolbar-container">
				<h2 class="md-title" >{{strs.headerTitle}}</h2>
			  </div>
			<span style="flex: 1"></span>
			 <md-button class="md-icon-button" v-on:click="getActiveFerms()">
				<md-icon>home</md-icon>
			 </md-button>
		  </div>
		 
		</md-toolbar>
	</md-whiteframe>
  
	<md-list v-if="viewList" class="md-double-line">
    <md-subheader class="md-inset">Fermentaciones activas</md-subheader>
		<md-list-item v-for="frm in fermentadores"  >
		  <md-avatar class="md-avatar-icon md-primary">
			<md-icon>delete_sweep</md-icon>
		  </md-avatar>
			<div class="md-list-text-container">
				<span>{{frm.tanque_code}} - {{frm.nombre_fermentacion}}</span>
				<p>Perf: {{frm.profile}}, {{frm.total_hours}}/{{frm.duration}}hs</p>
				<p>, Temp: <b>{{frm.currentTemp}}</b>ºC</p>
			</div>
			<md-menu md-size="4">
				<md-button class="md-icon-button" md-menu-trigger>
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item v-on:click="viewFermentacion(frm.id)">
						<md-icon>timeline</md-icon>
						<span>Ver detalles</span>
					</md-menu-item>

					<md-menu-item v-on:click="manageFerm(frm.id,'archivar')">
						<md-icon>assignment_returned</md-icon>
						<span>Archivar</span>
					</md-menu-item>

					<md-menu-item v-on:click="manageFerm(frm.id,'delete')">
						<md-icon>delete</md-icon>
						<span>Eliminar</span>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-list-item>
	</md-list>
	
	<md-list v-if="viewListAchived" class="md-double-line">
		<md-subheader class="md-inset">Fermentaciones archivadas</md-subheader>
		<md-list-item v-for="frm in fermentadores"  >
		  <md-avatar class="md-avatar-icon md-primary">
			<md-icon>content_paste</md-icon>
		  </md-avatar>
			<div class="md-list-text-container">
				<span>{{frm.tanque_code}} - {{frm.nombre_fermentacion}}</span>
				<p>Perf: {{frm.profile}}, {{frm.duration}}hs</p>
				<p>, Temp promedio: {{frm.promTemp}} ºC</p>
			</div>
			<md-menu md-size="4">
				<md-button class="md-icon-button" md-menu-trigger>
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item v-on:click="viewFermentacion(frm.id)">
						<md-icon>timeline</md-icon>
						<span>Ver detalles</span>
					</md-menu-item>

					<md-menu-item v-on:click="manageFerm(frm.id,'delete')">
						<md-icon>delete</md-icon>
						<span>Eliminar</span>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-list-item>
	</md-list>
	 
	<form v-if="viewAddNew" @submit.prevent="doThis" novalidate @submit.stop.prevent="submit" >
	  <md-input-container>
		<label>Nombre de la fermentacion</label>
		<md-input v-model="fermModel.nombre"></md-input>
	  </md-input-container>
	  <md-input-container>
		<label for="tanque">Tanque</label>
		<md-select name="tanque" id="tanque" v-model="fermModel.tanque">
			<md-option v-for="tnq in getInactiveTanks()" :value="tnq.id">{{tnq.descripcion}}</md-option>
		</md-select>
	  </md-input-container>
		<md-input-container>
		<label for="perfil">Perfil</label>
		<md-select name="perfil" id="perfil" v-model="fermModel.perfil">
			<md-option v-for="prf in profiles" :value="prf.id">{{prf.nombre}}</md-option>
		</md-select>
	  </md-input-container>
	  <md-button class="md-raised md-primary" v-on:click="createFerm" >CREAR AHORA</md-button>
  
	</form>
	<md-tabs md-fixed v-if="viewFerm">
	  <md-tab id="grafico" md-label="Grafico" >
			<md-subheader class="md-inset">Grafico progresion temperatura</md-subheader>
			<object  v-bind:data="'/getSvg.svg?id=' + fermSel.id " type="image/svg+xml" style="overflow-x:scroll;"></object>
	  </md-tab>
	  <md-tab id="detalles" md-label="Detalles">
		<md-card md-with-hover >
		 <md-toolbar class="md-warn">
			<div class="md-title">{{selectedFerm.nombre_fermentacion}}</div>
			</md-toolbar>
		  <md-card-header>
		 	<div class="md-subhead">
			<md-icon>info_outline</md-icon>
			<span>Perfil usado: <b>{{selectedFerm.profile}}</b></span>
			</div>
		  </md-card-header>

		  <md-card-content>
			<div class="md-subhead">
				<md-icon>remove</md-icon>
				<span>Temperatura promedio: <b>{{selectedFerm.promTemp}}</b></span>
			 </div>
			 <div class="md-subhead">
				<md-icon>remove</md-icon>
				<span>Temperatura actual: <b>{{selectedFerm.currentTemp}}</b></span>
			 </div>
			 <div class="md-subhead">
				<md-icon>remove</md-icon>
				<span>Duracion total: <b>{{selectedFerm.duration}}</b></span>
			 </div>
		  </md-card-content>

		  <md-card-actions>
			<md-button class="md-raised md-accent" v-on:click="manageFerm(frm.id,'archivar')">Archivar</md-button>
		  </md-card-actions>
		</md-card>
	  </md-tab>
	  <md-tab id="notas" md-label="Notas">
		<md-subheader class="md-inset">Notas</md-subheader>
			
				<md-input-container>
				<label>Area de notas</label>
				<md-textarea v-model="selectedFerm.notas"></md-textarea>
				</md-input-container>
			
	  </md-tab>
	</md-tabs>
	
	<div v-if="viewProfiles">
	<md-list>
    <md-list-item v-for="prf in profiles">
      <md-icon>folder</md-icon>
      <md-input-container>
		<label>Nombre del perfil</label>
		<md-input v-model="prf.nombre"></md-input>
	  </md-input-container>
		<md-button class="md-icon-button" v-on:click="deleteProf(prf.id)">
			<md-icon>delete</md-icon>
		</md-button>
      <md-list-expand>
        <md-list>
          <md-list-item class="md-inset">
		   <md-input-container>
			<label>Horas de duracion</label>
			<md-input v-model="prf.duration"></md-input>
		  </md-input-container>
		  </md-list-item>
          <md-list-item class="md-inset">
		  <md-icon>broken_image</md-icon>
		  <label>Mapa de temperatura</label>
				<md-list-expand >
					<md-list>
						<md-list-item md-flex="true" class="md-inset" :key="mp.id" v-if="prf.mapa.length != 0"  v-for="mp in prf.mapa">
							<md-table>
								<md-table-body>
									<md-table-row>
										<md-table-cell>
											<md-input-container>
												<label>Desde la hora</label>
												<md-input v-model="mp.tempFrom"></md-input>
											</md-input-container>
										</md-table-cell>
										<md-table-cell>
											<md-input-container>
												<label>Hasta la hora</label>
												<md-input v-model="mp.tempTo"></md-input>
											</md-input-container>
										</md-table-cell>
										<md-table-cell>
											<md-input-container>
												<label>Temperatura</label>
												<md-input v-model="mp.temp"></md-input>
											</md-input-container>
										</md-table-cell>
										<md-table-cell>
											<md-input-container>
												<label>Tolerancia</label>
												<md-input v-model="mp.tolerancia"></md-input>
											</md-input-container>
										</md-table-cell>
										<md-table-cell>
										<md-button class="md-icon-button" v-on:click="deleteMapPoint(prf.id,mp.id)">
											<md-icon>delete</md-icon>
										</md-button>
										</md-table-cell>
									</md-table-row>
								</md-table-body>
							</md-table>
						</md-list-item>
						<md-list-item>
						<md-button class="md-icon-button md-raised md-primary" v-on:click="createMapPoint(prf.id)">
							<md-icon>add</md-icon>
						</md-button>
						</md-list-item>
				</md-list-expand>
			</md-list-item>
        </md-list>
      </md-list-expand>
    </md-list-item>
	
  </md-list>
  <md-button class="md-raised md-accent" v-on:click="createProfile()">Agregar</md-button>
	
 </div>
<div v-if="viewTanques" >
	
	<md-subheader class="md-inset">Configuraciones varias</md-subheader>
	<md-card md-with-hover >
		<md-card-content>
			<md-input-container>
			<label for="tanque">Puerto de comunicacion</label>
			<md-select name="port" id="port" v-model="config.comport">
				<md-option v-for="p in config.availablePorts" :value="p.comName">{{p.comName}}</md-option>
			</md-select>
			<md-input-container>
				<label>Temperatura refrigeracion</label>
				<md-input v-model="config.refritemp"></md-input>
			</md-input-container>
		  </md-input-container>
	  </md-card-content>
  </md-card>
  <br/>
  <md-card md-with-hover >
		<md-card-content>
	<md-subheader class="md-inset">Tanques de fermentacion</md-subheader>
	<md-table>
		<md-table-body>
			<md-table-row v-for="tk in tanques" >
				<md-table-cell>
					<md-input-container>
						<label>Descripcion</label>
						<md-input v-model="tk.descripcion"></md-input>
					</md-input-container>
				</md-table-cell>
				<md-table-cell>
					<md-input-container>
						<label>Codigo</label>
						<md-input v-model="tk.code"></md-input>
					</md-input-container>
				</md-table-cell>
				<md-table-cell>
					<md-input-container>
						<label>Calibracion</label>
						<md-input v-model="tk.cal"></md-input>
					</md-input-container>
				</md-table-cell>
				<md-table-cell>
					<md-button class="md-icon-button" v-on:click="deleteTank(tk.id)">
						<md-icon>delete</md-icon>
					</md-button>
				</md-table-cell>
				
			</md-table-row>
		<md-table-body>								
	</md-table>	
	<md-button class="md-raised md-accent" v-on:click="createTank()">Agregar</md-button>
	 </md-card-content>
  </md-card>
	
</div>
</div>

</body>
</html>