<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/node_modules/vue-material/dist/vue-material.css">
    <script data-main="main" src="/node_modules/requirejs/require.js"></script>
    <style>
        html,
        body,
        .app-viewport {
            height: 100%;
            /*overflow: hidden;*/
        }

        .app-viewport {
            display: flex;
            flex-flow: column;
        }

        .main-toolbar {
            position: relative;
            z-index: 10;
        }

        .md-fab {
            margin: 0;
            position: absolute;
            bottom: -20px;
            left: 16px;
            z-index: 10;
        }

        .md-icon {
            color: #fff;
        }

        .md-title {
            padding-left: 8px;
            color: #fff;
        }

        .main-content {
            position: relative;
            z-index: 1;
            overflow: auto;
        }

        .md-list-action .md-icon {
            color: rgba(#000, .26);
        }

        .md-avatar-icon .md-icon {
            color: #fff !important;
        }

        .md-sidenav .md-list-text-container > :nth-child(2) {
            color: rgba(#fff, .54);
        }

        .md-account-header {
            background-color: inherit;
        }

        .md-list-item:hover .md-button:hover {
            background-color: inherit;
        }

        .md-avatar-list .md-list-item-container:hover {
            background: none !important;
        }


        /*personalized*/
        .modal-mask {
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            display: table;
            transition: opacity .3s ease;
        }

        .modal-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .modal-container {
            width: 300px;
            margin: 0px auto;
            padding: 20px 30px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
            transition: all .3s ease;
            font-family: Helvetica, Arial, sans-serif;
        }

        .modal-header h3 {
            margin-top: 0;
            color: #42b983;
        }

        .modal-body {
            margin: 20px 0;
        }

        .modal-default-button {
            float: right;
        }

        /*
        * The following styles are auto-applied to elements with
        * transition="modal" when their visibility is toggled
        * by Vue.js.
        *
        * You can easily play with the modal transition by editing
        * these styles.
        */

        .modal-enter {
            opacity: 0;
        }

        .modal-leave-active {
            opacity: 0;
        }

            .modal-enter .modal-container,
            .modal-leave-active .modal-container {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        /*ajustes*/
        .md-toolbar.md-large {
            min-height: 80px;
        }

            .md-toolbar.md-large .md-toolbar-container:nth-child(2) .md-title:first-child {
                margin-left: 0px;
            }

        .innerButton {
            padding: 0;
            margin: 0;
            min-width: 0;
        }

        .md-title {
            color: #000;
        }

        .notes {
            width: 100%;
            height: 800px;
        }
    </style>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="text/x-template" id="homeTemplate">
        <div class="app-viewport" id="file-list" v-show="ready" style="">
            <md-sidenav class="md-left md-fixed" ref="sidebar">
                <md-toolbar class="md-account-header">
                    <md-list class="md-transparent">
                        <md-list-item class="md-avatar-list">
                            <md-avatar class="md-large">
                                <img src="imgs/logo.png" alt="People">
                            </md-avatar>

                            <span style="flex: 1"></span>


                        </md-list-item>

                        <md-list-item>
                            <div class="md-list-text-container">
                                <span>INTEGRA Chronos</span>
                                <span>Sistema de control de fermentación</span>
                            </div>

                            <!-- <md-button class="md-icon-button md-list-action">
                              <md-icon>arrow_drop_down</md-icon>
                            </md-button> -->
                        </md-list-item>
                    </md-list>
                </md-toolbar>

                <md-list>
                    <md-list-item class="md-primary">
                        <span>OPCIONES DE CONTROL</span>
                    </md-list-item>

                    <md-list-item @click.native="$refs.sidebar.toggle();startNewFerm()">
                        <md-icon>add_circle</md-icon> <span style="cursor:pointer;">Nueva fermentacion</span>
                    </md-list-item>

                    <md-list-item @click.native="$refs.sidebar.toggle();getActiveFerms()">
                        <md-icon>home</md-icon> <span style="cursor:pointer;">Fermentaciones activas</span>
                    </md-list-item>

                    <md-list-item @click.native="$refs.sidebar.toggle();getArchivedFerms()">
                        <md-icon>restore</md-icon> <span style="cursor:pointer;">Fermentaciones archivadas</span>
                    </md-list-item>

                    <md-list-item @click.native="$refs.sidebar.toggle();editProfiles()">
                        <md-icon>show_chart</md-icon> <span style="cursor:pointer;">Editar perfiles</span>
                    </md-list-item>
                    <md-list-item @click.native="$refs.sidebar.toggle();editTanques()">
                        <md-icon>settings</md-icon> <span style="cursor:pointer;">Configurar tanques</span>
                    </md-list-item>

                </md-list>
            </md-sidenav>

            <md-whiteframe md-elevation="3">
                <md-toolbar class="md-large">
                    <div class="md-toolbar-container">
                        <md-button class="md-icon-button" @click.native="$refs.sidebar.toggle()">
                            <md-icon>menu</md-icon>
                        </md-button>
                        <div class="md-toolbar-container">
                            <h2 class="md-title" style="color:#FFF;line-height: 18px;">{{strs.headerTitle}}<br /><small style="font-size:12px;">Banco frio : {{tempBancoFrio}} ºC.</small></h2>
                        </div>
                        <span style="flex: 1"></span>
                        <md-button class="md-icon-button" @click.native="getActiveFerms()">
                            <md-icon>home</md-icon>
                        </md-button>
                    </div>

                </md-toolbar>
            </md-whiteframe>
            <main class="main-content">
                <md-list v-if="viewList" class="md-double-line">
                    <md-subheader class="md-inset">Fermentaciones activas</md-subheader>
                    <md-list-item :key="frm.id" v-for="frm in fermentadores">
                        <md-avatar class="md-avatar-icon md-primary">
                            <md-icon>delete_sweep</md-icon>
                        </md-avatar>
                        <div class="md-list-text-container">
                            <span>{{frm.tanque_descripcion}} - {{frm.nombre_fermentacion}}</span>
                            <p>Perf: {{frm.profile}}, {{frm.total_hours}}/{{frm.duration}}hs</p>
                            <p>Temp: <b>{{frm.currentTemp}}</b>ºC - Ult act.: {{frm.lastupdate!=0?frm.lastupdate + ' min.':'ahora'}} </p>
                        </div>
                        <md-button v-if="frm.alerta==1" @click.native="gimmeError(frm.alerta_name, frm.alerta_desc)" class="innerButton">
                            <md-icon class="md-accent">error</md-icon>
                        </md-button>
                        <md-menu md-size="4">
                            <md-button class="md-icon-button" md-menu-trigger>
                                <md-icon>more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item @click.native="viewFermentacion(frm.id)">
                                    <md-icon>timeline</md-icon>
                                    <span>Ver detalles</span>
                                </md-menu-item>

                                <md-menu-item @click.native="$refs['archiveConfirm'+frm.id][0].open();">
                                    <md-icon>assignment_returned</md-icon>
                                    <span>Archivar</span>
                                </md-menu-item>

                                <md-menu-item id="deleteConfirm" @click.native="$refs['deleteConfirm'+frm.id][0].open();">
                                    <md-icon>delete</md-icon>
                                    <span>Eliminar</span>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-dialog :ref="'deleteConfirm'+frm.id">
                            <md-dialog-title>Confirmar</md-dialog-title>
                            <md-dialog-content>¿Deseas borrar la fermentacion: '{{frm.nombre_fermentacion}}'? (se eliminara por completo)</md-dialog-content>
                            <md-dialog-actions>
                                <md-button class="md-primary" @click.native="$refs['deleteConfirm'+frm.id][0].close()">Cancel</md-button>
                                <md-button class="md-primary" @click.native="$refs['deleteConfirm'+frm.id][0].close();manageFerm(frm.id,'delete')">Ok</md-button>
                            </md-dialog-actions>
                        </md-dialog>
                        <md-dialog :ref="'archiveConfirm'+frm.id">
                            <md-dialog-title>Confirmar</md-dialog-title>
                            <md-dialog-content>¿Deseas archivar la fermentacion: '{{frm.nombre_fermentacion}}'?</md-dialog-content>
                            <md-dialog-actions>
                                <md-button class="md-primary" @click.native="$refs['archiveConfirm'+frm.id][0].close()">Cancel</md-button>
                                <md-button class="md-primary" @click.native="$refs['archiveConfirm'+frm.id][0].close();manageFerm(frm.id,'archivar')">Ok</md-button>
                            </md-dialog-actions>
                        </md-dialog>
                    </md-list-item>
                </md-list>

                <md-list v-if="viewListAchived" class="md-double-line">
                    <md-subheader class="md-inset">Fermentaciones archivadas</md-subheader>
                    <md-list-item v-for="frm in fermentadores">
                        <md-avatar class="md-avatar-icon md-primary">
                            <md-icon>content_paste</md-icon>
                        </md-avatar>
                        <div class="md-list-text-container">
                            <span>{{frm.tanque_code}} - {{frm.nombre_fermentacion}}</span>
                            <p>Perf: {{frm.profile}}, {{frm.duration}}hs</p>
                            <p>Temp promedio: {{frm.promTemp}} ºC</p>
                        </div>
                        <md-menu md-size="4">
                            <md-button class="md-icon-button" md-menu-trigger>
                                <md-icon>more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item @click.native="viewFermentacion(frm.id)">
                                    <md-icon>timeline</md-icon>
                                    <span>Ver detalles</span>
                                </md-menu-item>

                                <md-menu-item id="custom" @click.native="$refs['deleteConfirm'+frm.id][0].open();">
                                    <md-icon>delete</md-icon>
                                    <span>Eliminar</span>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-dialog :ref="'deleteConfirm'+frm.id">
                            <md-dialog-title>Confirmar</md-dialog-title>
                            <md-dialog-content>¿Deseas borrar la fermentacion: '{{frm.nombre_fermentacion}}'? (se eliminara por completo)</md-dialog-content>
                            <md-dialog-actions>
                                <md-button class="md-primary" @click.native="$refs['deleteConfirm'+frm.id][0].close()">Cancel</md-button>
                                <md-button class="md-primary" @click.native="$refs['deleteConfirm'+frm.id][0].close();manageFerm(frm.id,'delete')">Ok</md-button>
                            </md-dialog-actions>
                        </md-dialog>
                    </md-list-item>

                </md-list>
                <transition name="modal" v-if="alerta.show">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">

                                <div class="modal-header">
                                    <slot name="header">
                                        <md-avatar class="md-avatar-icon md-accent">
                                            <md-icon>warning</md-icon>
                                        </md-avatar>
                                        <span class="md-title">{{alerta.name}}</span>
                                    </slot>
                                </div>

                                <div class="modal-body">
                                    <slot name="body">
                                        {{alerta.desc}}
                                    </slot>
                                </div>

                                <div class="modal-footer">
                                    <slot name="footer">
                                        <md-button class="md-raised md-primary" @click.native="alerta.show=false">OK</md-button>
                                    </slot>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </main>
        </div>
    </script>
    <script type="text/x-template" id="fermTemplate">
        <div class="app-viewport" id="file-list" style="">
            <md-whiteframe md-elevation="3">
                <md-toolbar class="md-large">
                    <div class="md-toolbar-container">
                        <router-link :to="{path: urlback}">
                            <md-button class="md-icon-button">
                                <md-icon>arrow_back</md-icon>
                            </md-button>
                        </router-link>
                        <div class="md-toolbar-container">
                            <h2 class="md-title" style="color:#FFF;line-height: 18px;">{{selectedFerm.nombre_fermentacion}}</h2>
                        </div>
                        <span style="flex: 1"></span>
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>home</md-icon>
                            </md-button>
                        </router-link>
                    </div>

                </md-toolbar>
            </md-whiteframe>
            <md-tabs md-fixed>
                <md-tab id="grafico" md-label="Grafico">
                    <div id="chart" class="demo-placeholder">
                        <input id="fermValId" type="hidden" :value="selectedFerm.id" />
                        <canvas id="speedChart" style="width:100%;height:400px;"></canvas>
                    </div>
                </md-tab>
                <md-tab id="detalles" md-label="Detalles">
                    <md-card md-with-hover>
                        <md-toolbar class="md-warn">
                            <div class="md-title">{{selectedFerm.nombre_fermentacion}}</div>
                        </md-toolbar>
                        <md-card-header>
                            <div class="md-subhead">
                                <md-icon>info_outline</md-icon>
                                <span>Perfil usado: <b>{{selectedFerm.profile}}</b></span>
                            </div>
                        </md-card-header>

                        <md-card-content>
                            <div class="md-subhead">
                                <md-icon>remove</md-icon>
                                <span>Temperatura promedio: <b>{{selectedFerm.promTemp}}</b></span>
                            </div>
                            <div class="md-subhead">
                                <md-icon>remove</md-icon>
                                <span>Temperatura actual: <b>{{selectedFerm.currentTemp}}</b></span>
                            </div>
                            <div class="md-subhead">
                                <md-icon>remove</md-icon>
                                <span>Duracion total: <b>{{selectedFerm.duration}}</b></span>
                            </div>
                        </md-card-content>

                        <md-card-actions>
                            <md-button class="md-raised md-accent" @click.native="manageFerm(frm.id,'archivar')">Archivar</md-button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
                <md-tab id="notas" md-label="Notas">
                    <md-subheader class="md-inset">Notas</md-subheader>
                    <textarea class="notes" v-model="selectedFerm.notas"> Area de notas</textarea>
                </md-tab>
            </md-tabs>
        </div>
    </script>
    <script type="text/x-template" id="profTemplate">

        <div id="file-list" style="">
            <md-whiteframe md-elevation="3">
                <md-toolbar class="md-large">
                    <div class="md-toolbar-container">
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>arrow_back</md-icon>
                            </md-button>
                        </router-link>
                        <div class="md-toolbar-container">
                            <h2 class="md-title" style="color:#FFF;line-height: 18px;">{{strs.headerTitle}}</h2>
                        </div>
                        <span style="flex: 1"></span>
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>home</md-icon>
                            </md-button>
                        </router-link>
                    </div>

                </md-toolbar>
            </md-whiteframe>
            <md-list>
                <md-list-item v-for="prf in profiles">
                    <md-icon>folder</md-icon>
                    <md-input-container>
                        <label>Nombre del perfil</label>
                        <md-input v-model="prf.nombre"></md-input>
                    </md-input-container>
                    <md-button class="md-icon-button" @click.native="$refs['deleteConfirm'+prf.id][0].open();">
                        <md-icon>delete</md-icon>
                    </md-button>
                    <md-list-expand>
                        <md-list>
                            <md-list-item class="md-inset">
                                <md-input-container>
                                    <label>Horas de duracion</label>
                                    <md-input v-model="prf.duration"></md-input>
                                </md-input-container>
                            </md-list-item>
                            <md-list-item class="md-inset">
                                <md-icon>broken_image</md-icon>
                                <label>Mapa de temperatura</label>
                                <md-list-expand>
                                    <md-list>
                                        <md-list-item md-flex="true" class="md-inset" :key="mp.id" v-if="prf.mapa.length != 0" v-for="mp in prf.mapa">
                                            <md-table>
                                                <md-table-body>
                                                    <md-table-row>
                                                        <md-table-cell>
                                                            <md-input-container>
                                                                <label>Desde (hs)</label>
                                                                <md-input v-model="mp.tempFrom"></md-input>
                                                            </md-input-container>
                                                        </md-table-cell>
                                                        <md-table-cell>
                                                            <md-input-container>
                                                                <label>Hasta (hs)</label>
                                                                <md-input v-model="mp.tempTo"></md-input>
                                                            </md-input-container>
                                                        </md-table-cell>
                                                        <md-table-cell>
                                                            <md-input-container>
                                                                <label>Temp</label>
                                                                <md-input v-model="mp.temp"></md-input>
                                                            </md-input-container>
                                                        </md-table-cell>
                                                        <md-table-cell>
                                                            <md-input-container>
                                                                <label>Tol</label>
                                                                <md-input v-model="mp.tolerancia"></md-input>
                                                            </md-input-container>
                                                        </md-table-cell>
                                                        <md-table-cell>
                                                            <md-button class="md-icon-button" @click.native="deleteMapPoint(prf.id,mp.id)">
                                                                <md-icon>delete</md-icon>
                                                            </md-button>
                                                        </md-table-cell>
                                                    </md-table-row>
                                                </md-table-body>
                                            </md-table>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button class="md-icon-button md-raised md-primary" @click.native="createMapPoint(prf.id)">
                                                <md-icon>add</md-icon>
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                </md-list-expand>
                            </md-list-item>
                        </md-list>
                    </md-list-expand>
                    <md-dialog :ref="'deleteConfirm'+prf.id">
                        <md-dialog-title>Confirmar</md-dialog-title>
                        <md-dialog-content>¿Estas seguro de borrar el perfil: '{{prf.nombre}}'?</md-dialog-content>
                        <md-dialog-actions>
                            <md-button class="md-primary" @click.native="$refs['deleteConfirm'+prf.id][0].close()">Cancel</md-button>
                            <md-button class="md-primary" @click.native="$refs['deleteConfirm'+prf.id][0].close();deleteProf(prf.id)">Ok</md-button>
                        </md-dialog-actions>
                    </md-dialog>
                </md-list-item>
            </md-list>
            <div md-size="4">
                <md-button class="md-raised md-accent" @click.native="createProfile()">Agregar</md-button>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="newfermTemplate">
        <div class="app-viewport" id="file-list" style="">
            <md-whiteframe md-elevation="3">
                <md-toolbar class="md-large">
                    <div class="md-toolbar-container">
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>arrow_back</md-icon>
                            </md-button>
                        </router-link>
                        <div class="md-toolbar-container">
                            <h2 class="md-title" style="color:#FFF;line-height: 18px;">{{strs.headerTitle}}</h2>
                        </div>
                        <span style="flex: 1"></span>
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>home</md-icon>
                            </md-button>
                        </router-link>
                    </div>

                </md-toolbar>
            </md-whiteframe>
            <md-card md-with-hover>
                <md-card-content>
                    <md-subheader class="md-inset">Completa los datos para la nueva fermentación</md-subheader>
                    <form @submit.prevent="doThis" novalidate @submit.stop.prevent="submit">
                        <md-input-container>
                            <label>Nombre de la fermentacion</label>
                            <md-input v-model="fermModel.nombre"></md-input>
                        </md-input-container>
                        <md-input-container>
                            <label for="tanque">Tanque</label>
                            <md-select name="tanque" id="tanque" v-model="fermModel.tanque">
                                <md-option v-for="tnq in getInactiveTanks()" :value="tnq.id">{{tnq.descripcion}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label for="perfil">Perfil</label>
                            <md-select name="perfil" id="perfil" v-model="fermModel.perfil">
                                <md-option v-for="prf in profiles" :value="prf.id">{{prf.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-raised md-primary" @click.native="createFerm">CREAR AHORA</md-button>

                    </form>
                </md-card-content>
            </md-card>
        </div>
    </script>
    <script type="text/x-template" id="tankTemplate">
        <div class="app-viewport" id="file-list" style="">
            <md-whiteframe md-elevation="3">
                <md-toolbar class="md-large">
                    <div class="md-toolbar-container">
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>arrow_back</md-icon>
                            </md-button>
                        </router-link>
                        <div class="md-toolbar-container">
                            <h2 class="md-title" style="color:#FFF;line-height: 18px;">{{strs.headerTitle}}</h2>
                        </div>
                        <span style="flex: 1"></span>
                        <router-link :to="{name:'home'}">
                            <md-button class="md-icon-button">
                                <md-icon>home</md-icon>
                            </md-button>
                        </router-link>
                    </div>

                </md-toolbar>
            </md-whiteframe>

            <md-subheader class="md-inset">Configuraciones varias</md-subheader>
            <md-card md-with-hover>
                <md-card-content>
                    <md-input-container>
                        <label for="tanque">Puerto de comunicacion</label>
                        <md-select name="port" id="port" v-model="config.comport">
                            <md-option v-for="p in config.availablePorts" :value="p.comName">{{p.comName}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Temperatura banco de frio</label>
                        <md-input v-model="config.refritemp"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>tolerancia</label>
                        <md-input v-model="config.refri_tol"></md-input>
                    </md-input-container>

                </md-card-content>
            </md-card>
            <br />
            <md-card md-with-hover>
                <md-card-content>
                    <md-subheader class="md-inset">Tanques de fermentacion</md-subheader>
                    <md-table>
                        <md-table-body>
                            <md-table-row v-for="tk in tanques">
                                <md-table-cell>
                                    <md-input-container>
                                        <label>Descripcion</label>
                                        <md-input v-model="tk.descripcion"></md-input>
                                    </md-input-container>
                                </md-table-cell>
                                <md-table-cell>
                                    <md-input-container>
                                        <label>Codigo</label>
                                        <md-input v-model="tk.code"></md-input>
                                    </md-input-container>
                                </md-table-cell>
                                <md-table-cell>
                                    <md-input-container>
                                        <label>Calibracion</label>
                                        <md-input v-model="tk.cal"></md-input>
                                    </md-input-container>
                                </md-table-cell>
                                <md-table-cell>
                                    <md-button class="md-icon-button" @click.native="$refs['deleteConfirm'+tk.id][0].open();">
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </md-table-cell>
                                <md-dialog :ref="'deleteConfirm'+tk.id">
                                    <md-dialog-title>Confirmar</md-dialog-title>
                                    <md-dialog-content>¿Estas seguro de borrar el tanque: '{{tk.code}}'?</md-dialog-content>
                                    <md-dialog-actions>
                                        <md-button class="md-primary" @click.native="$refs['deleteConfirm'+tk.id][0].close()">Cancel</md-button>
                                        <md-button class="md-primary" @click.native="$refs['deleteConfirm'+tk.id][0].close();deleteTank(tk.id)">Ok</md-button>
                                    </md-dialog-actions>
                                </md-dialog>
                            </md-table-row>
                        </md-table-body>
                    </md-table>
                    <md-button class="md-raised md-accent" @click.native="createTank()">Agregar</md-button>
                </md-card-content>
            </md-card>

        </div>
    </script>

</body>
</html>